@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

.fly-off-left {
  transform: translateX(-100vw) rotate(-30deg) scale(0.7);
}

.fly-from-right {
  transform: translateX(100vw) rotate(-30deg) scale(0.7);
}

.overlay-transition {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.4);
}

.difficulty-options-reveal {
  transform: scale(2);

  @starting-style {
    opacity: 0;
  }

  opacity: 1;
}

.fade-in {
  @starting-style {
    opacity: 0;
  }

  opacity: 1;
}
