@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

.fly-off-left {
  transform: translateX(-100vw) rotate(-30deg) scale(0.7);
}

.fly-from-right {
  transform: translateX(100vw) rotate(-30deg) scale(0.7);
}

.overlay-transition {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.4);
}

.options-reveal {
  transform: scale(2);

  @starting-style {
    opacity: 0;
  }

  opacity: 1;
}

.fade-in {
  @starting-style {
    opacity: 0;
  }

  opacity: 1;
}

@keyframes dropIn {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-drop {
  animation: dropIn 0.5s ease-in forwards;
}

.turn-timer {
  background-image: url("/src/assets/images/turn-background-red.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
